<h1>Editing User</h1>

<% if @user.errors.any? %>
<ul>
  <li><strong>Errors</strong></li>
  <% @user.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
</ul>
<% end %>

<ul>
  <li><strong>Editing user...</strong></li>
  <ul>
    <li>ID: <%= @user.id %></li>
    <li>Email: <%= @user.email %></li>
    <li>Username: <%= @user.username %></li>
  </ul>
  <br>
</ul>

<%# Form using #form_with %>
<%= form_with model: @user, url: user_path(@user), method: :put do |form| %>
  <%= form.label :email, "Email:" %> <br>
  <%= form.email_field :email, placeholder: "example@example.com"%> <br>
  <%= form.label :username, "Username:" %> <br>
  <%= form.text_field :username %> <br>
  <%= form.label :password, "Password:" %> <br>
  <%= form.password_field :password %> <br>
  <%= form.submit "Submit" %>
<% end %>
